body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: black;
}

.top-pane {
    background-color: #07a475;
    color: #ffffff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	position: relative;
    height: 65px; /* Adjust the height to accommodate both title and dropdown */
}

.title-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
}

.dashboard-title {
    margin: 0;
    font-size: 19px;
	color: #C0C0C0; /* Grey */
}

.dropdown-container {
    margin-top: 1px; /* Space between title and dropdown */
}

.dropdown-container select {
    background-color: #ffffff;
    color: #000000; /* Darker Shade of Green */
    padding: 5px;
    border: 1px solid #065f47;
    border-radius: 5px;
}

.logo-container {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

#envDropdown {
    background-color: #07a475;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.version-info {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.content-wrapper {
    display: flex;
    height: calc(100vh - 60px); /* Adjust to account for the top-pane */
    transition: height 0.3s ease-in-out;
}

.left-pane {
    background-color: #07a475;
    color: #ffffff;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
    justify-content: space-between; /* Ensures copyright stays at the bottom */
}

.copyright {
    font-size: 12px;
    color: black;
    text-align: center;
    margin-top: auto; /* Ensures it stays at the bottom */
    padding: 10px;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    font-weight: bold;
    color: black;
    padding: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.left-pane ul {
    list-style-type: none;
    padding-left: 10px; /* Indentation for links under a section */
}

.left-pane li {
    margin: 10px 0;
}

.left-pane .button {
    display: block;
    background-color: #ffffff;
    color: #07a475;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px 0;
    text-align: center;
    border: 1px solid #07a475;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.left-pane .button:hover {
    background-color: #07a475;
    color: #ffffff;
}

/* Tooltip styles */
.left-pane .button[title]:hover::after {
    content: attr(title);
    position: absolute;
    left: 105%;
    white-space: nowrap;
    background: #ffffff;
    color: black;
    padding: 5px;
    border: 1px solid #07a475;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.left-pane .button.selected {
    background-color: #db8337;
    color: #ffffff;
}

.toggle-button {
    background-color: #07a475;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}

.right-pane {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.collapsed-left {
    width: 50px;
}

.collapsed-left #menuList {
    display: none;
}

@media (max-width: 600px) {
    .content-wrapper {
        flex-direction: column;
    }
    .left-pane {
        width: 100%;
        height: 150px;
    }
    .right-pane {
        height: calc(100vh - 200px); /* Adjust to account for top and left pane */
    }
}
